body{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-size: 10px;
 font-family: 'Roboto', sans-serif;
 background-color: #14213d;
}
#naw
{
 position: fixed;
 width: 100vw;
 height: 50px;
 background-color: #000000;
 font-size: 20px;
 z-index: 2;
}
#tytul::before
{ 
 position: fixed;
 width: 100%;
 height: 100%;
 z-index:-1;
 content:'';
 opacity: 0.05;
 background-repeat: no-repeat;
 background-image: url("./tlo.jpg");
 background-position: left;
 background-size: cover;
}
#block
{
 position: absolute;
 width: 1000px;
 height: 300px;
 margin: 50px 200px 0px 50px;
 opacity: 1;
 text-align: left;
 font-size: 45px;
}
#zdj_1
{
 position: absolute;
 width: 70vw;
 height: 100px;
 margin: -40px 1px 0px -31px;
 opacity: 1;
 text-align: center;
}

.opisy
{
 position: absolute;
 padding-left: 20px;
 padding-right: 20px;
 width: 70vw;
 height: 100px;
 margin: 100px 0px 0px 250px;
 top: 210px;
 text-align: center;
 
}
.numer
{
 position: absolute;
 padding-left: 20px;
 padding-right: 20px;
 width: 10vw;
 height: 250px;
 margin: 100px 2vw 0px 2vw;
 top: 200px;
 text-align: center;

}
#opis_1
{
  top: 180px;
 border-style: solid;
 border-width: 5px;
 border-color: #e5e5e5;
 background-color:#161a1d ;
 height: auto;
}
#opis_2
{
 top: 510px;
 border-style: solid;
 border-width: 5px;
 border-color: #e5e5e5;
 background-color:#161a1d ;
 height: auto;
}
#opis_3
{
 top: 740px;
 border-style: solid;
 border-width: 5px;
 border-color: #e5e5e5;
 background-color:#161a1d ;
 height: auto;
}
#opis_4
{
 top: 1080px;
 border-style: solid;
 border-width: 5px;
 border-color: #e5e5e5;
 background-color:#161a1d ;
 height: auto;
}
#opis_5
{
 top: 1380px;
 border-style: solid;
 border-width: 5px;
 border-color: #e5e5e5;
 background-color:#161a1d ;
 height: auto;
}
#opis_6
{
 top: 1680px;
 border-style: solid;
 border-width: 5px;
 border-color: #e5e5e5;
 background-color:#161a1d ;
 height: auto;
}
#opis_7
{
 top: 2010px;
 border-style: solid;
 border-width: 0px;
 border-color: #e5e5e5;
 background-color:#14213d;
 height: 1000px;
}

.p
{
font-size: 25px;
}
.form
{
background-color: #14213d;
color:#e5e5e5;
width: 1000px;
 height: 1000px;
 margin: auto;
 position: absolute;


}
input {
    width: 375px;
    height: 25px;
   }
/* ----------------H2---------------- */
#naw_nazwa
{
 position: absolute;
 margin: 13px 8px;
 display: inline;
 font-size: 20px;
 color: #e5e5e5;
}
#menu
{
 position: absolute;
 display: inline;
 right: 0;
 margin: 13px;
 color: #e5e5e5;
 font-size: 20px;
}
.lp
{
 font-size: 100px;
 color: #e5e5e5;
}
.g1
{
 color: #e5e5e5;
 font-size: 35px;
}
.projekty
{
 color: #e5e5e5;
 font-size: 25px;
}
#h2_1
{
 color: #e5e5e5;
 font-size: 50px;
 font-weight: 1400;
}
#h2_2
{
 color: #e5e5e5;
}
#nr2
{
 top: 470px
}
#nr3
{
 top: 730px
}
#nr4
{
 top: 1060px
}
#nr5
{
 top: 1370px
}
#nr6
{
 top: 1690px
}
#nr7
{
 top: 2010px
}


/* ----------------IMAGE---------------- */
#bitcoin
{
 margin-top: 4px;
 margin-left: 10px;
 height: 40px;
 display: inline;
}
#blockchain_zdj_1
{
 border-style: solid;
 border-width: 5px;
 border-color: #e5e5e5;
 width: 600px;
 height: 290px;
}
#logo
{
 margin-top: 50px;
 
 height: 150px;
 display: inline;
}

/* ----------------HOVER---------------- */
#menu:hover{
 background-color: #14213d;
 color: white;
 border-radius: 5px;
}